body{
    background-image: url('../img/Arlong_Park.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header{
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    margin-bottom: 5rem;
    font-family: 'Dancing Script', cursive;
}

header div{
    position: relative;
}

header img{
    width: 100px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.btn-arlong{
    width: 30px;
}

.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-body-color);
    --bs-table-bg: #ffffffbb !important;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}